<div class="balance-component">
    <h3>Balance</h3>

    <div style="height:75px;">
        <span style="font-size: 3em;">$@_bankBalance.ToString("#,##0.00")</span>
    </div>

    <div class="balance-component__balance-movements" style="overflow:hidden">
        @foreach (var balanceMovement in balanceMovements.Take(5))
        {
            <div style="color: @(balanceMovement.Amount < 0 ? "red" : "green" )">@balanceMovement.Name $@balanceMovement.Amount.ToString("#,##0.00")</div>
        }
    </div>
</div>

@code {
    private decimal _bankBalance { get; set; }
    private readonly List<BalanceMovement> balanceMovements = new List<BalanceMovement>();

    protected override void OnInitialized()
    {
        _bankBalance = 0;
    }

    internal void HandleNewGameEvent(GameEvent gameEvent)
    {
        _bankBalance = gameEvent.CurrentBalance;

        if (gameEvent.BalanceMovements != null)
        {
            foreach (BalanceMovement balanceMovement in gameEvent.BalanceMovements)
            {
                balanceMovements.Insert(0, balanceMovement);
            }
        }
        StateHasChanged();
    }
}
