<div>
    <h3>Balance</h3>

    <div>
        <span style="font-size: 3em;">$@_bankBalance.ToString("#,##0.00")</span>
        <span style="border: 1px solid #000000; border-radius: 8px; padding: 3px;background-color: @($"{(_change > 0 ? "green" : "red")}");padding: 1em;">@_change</span>
    </div>
</div>


@code {
    private decimal _bankBalance { get; set; }
    private decimal _change { get; set; }

    protected override void OnInitialized()
    {
        _bankBalance = 1000;
        _change = -10;
    }

    internal void HandleNewGameEvent(GameEvent gameEvent)
    {
        _bankBalance = gameEvent.CurrentBalance;

        if (gameEvent.BalanceMovements != null)
        {
            foreach (BalanceMovement balanceMovement in gameEvent.BalanceMovements)
            {
                _change = balanceMovement.Amount;
            }
        }
        StateHasChanged();
    }
}
