.coin {
    margin: 20px 5%;
    width: 90%;
    display: flex;
    margin-bottom: 6px;
    gap: 1em;
    border: none;
    padding: 0 10px;
}

.coin .coin-row {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

    .coin .coin-row img {
        border-radius: 50px;
        box-shadow: -1px -1px 18px -2px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px -1px 18px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px -1px 18px -2px rgba(0,0,0,0.75);
    }

.coin .coin-row:first-of-type {
    width: 50px;
}

.coin .coin-row  .element-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5em;
    gap: 0.5em;
}
    .coin .coin-row .element-row:last-child {
        padding-bottom: 0;
    }

.coin .coin-row .element-row .button {
    border: 1px solid black;
    border-radius: 8px;
    background: white;
    width: 33%;
    text-align: center;
}

    .coin .coin-row .element-row .button:hover {
        border-color: orange;
    }

    .coin .coin-row .element-row .buy.button:active {
        box-shadow: 0 2px #666;
        transform: translateY(1px);
    }

    .coin .coin-row .element-row .sell.button:active {
        box-shadow: 0 2px #666;
        transform: translateY(1px);
    }



.coin .coin-row .element-row .buy {
    background-color: green;
}

.coin .coin-row  .element-row .sell {
    background-color: red;
}

    .coin .coin-row .element-row .coin-amount {
        border: 1px solid black;
        border-radius: 8px;
        width: 50%;
        color: black;
        text-align: center;
        background-color: white;
        font-weight: bold;
        text-overflow: ellipsis;
    }

    .coin .coin-row .element-row .coin-value {
        border: 1px solid black;
        border-radius: 8px;
        width: 100%;
        color: black;
        text-align: center;
        background-color: white;
        font-weight:bold;
        text-overflow:ellipsis;
    }