<div>
    <h3 style="text-decoration: underline;">Living Cost</h3>

    @foreach (LivingCost eventObject in Events)
    {
        <div style="margin-bottom: 16px;">
            <span>@eventObject.Name:</span>
            <span>$@eventObject.Amount</span>
        </div>
    }
</div>

@code {
    private List<LivingCost> Events = new List<LivingCost>();

    protected override void OnInitialized()
    {
        Events = new List<LivingCost>();
    }

    internal void HandleNewGameEvent(GameEvent gameEvent)
    {
        if(gameEvent.NewLivingCosts != null)
        {
            foreach (LivingCost livingCost in gameEvent.NewLivingCosts)
            {
                Events.Add(livingCost);
            }
        }

        if (gameEvent.RemoveLivingCosts != null)
        {
            foreach (LivingCost livingCost in gameEvent.RemoveLivingCosts)
            {
                Events.Remove(livingCost);
            }
        }
        StateHasChanged();
    }
}
