@page "/counter"
@using ImminentCrash.Client.Components

<PageTitle>Counter</PageTitle>

<div style="float:left; width: 250px;">
    <EventOverviewComponent></EventOverviewComponent>
</div>

<div style="float:right; width: 250px;">
    <CoinOverviewComponent></CoinOverviewComponent>
</div>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
