@page "/Game/{SessionId:guid}"
@using ImminentCrash.Client.Components

<div class="main-container">
    <div class="left-column">
        <div class="events">
            <EventOverviewComponent @ref="EventOverviewComponentRef"></EventOverviewComponent>
        </div>
        <div class="living-cost">
            <LivingCostComponent @ref="LivingCostComponentRef"></LivingCostComponent>
        </div>
    </div>

    <div class="center-column">
        <div class="line-graph">
            <LineChartComponent @ref="LineChartComponentRef" />
        </div>
@*         <div class="power-ups">
            <BoosterOverviewComponent @ref="BoosterOverviewComponentRef"></BoosterOverviewComponent>
        </div> *@
    </div>

    <div class="right-column">
        <div class="game-actions">
            <button class="button" @onclick="() => OnQuitGameClicked()">Quit Game</button>
            @if (_isPaused is true)
            {
                <button class="button" @onclick="() => OnContinueGameClicked()">Continue Game</button>
            }
            else
            {
                <button class="button" @onclick="() => OnPauseGameClicked()">Pause Game</button>
            }
        </div>
        <div class="coins">
            <CoinOverviewComponent @ref="CoinOverviewComponentRef" OnBuy="OnBuy" OnSell="OnSell"></CoinOverviewComponent>
        </div>
        <div class="balance">
            <BalanceComponent @ref="BalanceComponentRef"></BalanceComponent>
        </div>
    </div>
</div>

<div class="death-dialog" style="display:@((_isDead || _isWinner) ? "flex" : "none");">
    <div class="death-dialog__window">

        <h1 style="margin-bottom:20px;">@(_isDead ? "You went bankrupt" : "You won, you're now officialy a crypto bro!")</h1>

        @if (_highscoreResponse is not null)
        {
            <p>You lasted @_highscoreResponse.DaysAlive days!</p>
            <p>Your Highest Balance was $@_highscoreResponse.HighestBalance.ToString("#,##0.00")</p>
        }

        <label for="highscore-name">Enter your name below</label>
        <input id="highscore-name" type="text" class="input" @bind-value="@_highScoreName" placeholder="Type your name here"/>

        <button @onclick="() => OnSaveHighScore()" class="button">Save Highscore</button>
        <button @onclick="() => OnBackToMainMenuClicked()" class="button">Back to main menu</button>
    </div>
</div>

<audio src="/audio/Pixel-Peeker-Polka-faster-kevin-mecleod.mp3" id="mainSong" autoplay loop></audio>
<audio src="/audio/videogame-death-sound-43894.mp3" id="deathSound"></audio>
<audio src="/audio/coin-drop.mp3" id="coinDrop"></audio>

<script>
    var audio = document.getElementById("mainSong");
    audio.addEventListener("play", function () {
        audio.volume = 0.1;  // Set volume to 10% when audio starts playing
    });
</script>
