@page "/Game/{SessionId:guid}"
@using ImminentCrash.Client.Components

<div class="main-container">
    <div class="left-column">
        <div class="events">
            <EventOverviewComponent @ref="EventOverviewComponentRef"></EventOverviewComponent>
        </div>
        <div class="living-cost">
            <LivingCostComponent @ref="LivingCostComponentRef"></LivingCostComponent>
        </div>
    </div>

    <div class="center-column">
        <div class="line-graph">
            <LineChartComponent @ref="LineChartComponentRef" />
        </div>
        <div class="power-ups">
            <BoosterOverviewComponent @ref="BoosterOverviewComponentRef"></BoosterOverviewComponent>
        </div>
    </div>

    <div class="right-column">
        <div class="game-actions">
            <button class="button" @onclick="() => OnQuitGameClicked()">Quit Game</button>
            @if (_isPaused is true)
            {
                <button class="button" @onclick="() => OnContinueGameClicked()">Continue Game</button>
            }
            else
            {
                <button class="button" @onclick="() => OnPauseGameClicked()">Pause Game</button>
            }
        </div>
        <div class="coins">
            <CoinOverviewComponent @ref="CoinOverviewComponentRef" OnBuy="OnBuy" OnSell="OnSell"></CoinOverviewComponent>
        </div>
        <div class="balance">
            <BalanceComponent @ref="BalanceComponentRef"></BalanceComponent>
        </div>
    </div>
</div>

<div class="death-dialog" style="display:@((_isDead || _isWinner) ? "flex" : "none");">
    <div class="death-dialog__window">
        <h1 style="margin-bottom:20px;">@(_isDead ? "You went bankrupt" : "You won, you're not officialy a crypto bro!")</h1>
        <input id="highscore-name" type="text" @bind-value="@_highScoreName" />
        <label for="highscore-name">Enter your name</label>
        <button @onclick="() => OnSaveHighScore()">Save Highscore</button>
        <button @onclick="() => OnBackToMainMenuClicked()">Back to main menu</button>
    </div>
</div>