@page "/Game/{SessionId:guid}"

<h3>GamePage</h3>

<button @onclick="() => OnQuitGameClicked()">Quit Game</button>
<button @onclick="() => OnPauseGameClicked()">Pause Game</button>
<button @onclick="() => OnContinueGameClicked()">Continue Game</button>
