@page "/"
@inject IImminentCrashService client;
<PageTitle>Imminent Crash</PageTitle>

<div class="main-container">
    <div class="centered-container">
        <div class="header">
            <h1>Imminent Crash</h1>
        </div>

        <button class="button" @onclick="() => OnStartClicked()">Start</button>
        <button class="button" @onclick="() => OnHighScoreClicked()">High Score</button>
    </div>

    <div class="info-container">
        <h3>How to play.</h3>
        <div>Hello crypto bro!</div>
        <div>To earn money and stay alive you need to buy and sell crypto coins.</div>
        <div>If you get a negative balance, you lose!</div>
        <div>Living expenses will rise over time.</div>
        <div>Owning coins will reward interest.</div>
        <div>Stay alive for 1442 days <strong>to WIN!</strong></div>
        
    </div>
</div>