@page "/"
@inject IImminentCrashService client;
<PageTitle>Imminent Crash</PageTitle>

<div class="main-container">
    <div class="centered-container">
        <div class="header">
            <h1>Imminent Crash</h1>
        </div>

        <button class="button" @onclick="() => OnStartClicked()">Start</button>
        <button class="button" @onclick="() => OnHighScoreClicked()">High Score</button>
    </div>

    <div style="position:absolute; right: 0px; bottom: 0px; margin-right: 50px; margin-bottom: 50px; background: white; padding: 25px; border-radius: 60px; ">
        <h3>How to play.</h3>
        <span>Hello crypto bro!</span>
        <br />
        <span>To earn money and stay alive you need to buy and sell crypto coins.</span>
        <br />
        <span>If you get a negative balance, you lose!</span>
        <br />
        <span>Living expenses will rise over time.</span>
        <br />
        <span>Owning coins will reward interest.</span>
    </div>
</div>