@page "/"
@inject IImminentCrashService client;
<PageTitle>Imminent Crash</PageTitle>

<h1>Imminent Crash</h1>
<p><small>Version: @_version</small></p>

<button>Start</button>
<button>High Score</button>

