@page "/"
@inject IImminentCrashService client;
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h1>Message from server</h1>

<input type="text" @bind-value="_name" placeholder="Name" />
<button @onclick="async () => await SendSayHelloAsync()">Send</button>
<div>
    @_message
</div>

@code {
    private string? _message;
    private string? _name;

    private async Task SendSayHelloAsync()
    {
        var result = await client.SayHelloAsync(new SayHelloRequest()
            {
                Name = _name ?? "Unknown"
            });

        _message = result.Message;
        
    }
}
