@page "/"
@inject IImminentCrashService client;
<PageTitle>Imminent Crash</PageTitle>

<div class="main-container">
    <div class="centered-container">
        <div class="header">
            <h1>Imminent Crash</h1>
        </div>

        <button class="button" @onclick="() => OnStartClicked()">Start</button>
        <button class="button" @onclick="() => OnHighScoreClicked()">High Score</button>
    </div>
</div>